USE [master]
GO
/****** Object:  Database [CustomerDb]    Script Date: 15-10-2024 6:35:13 PM ******/
CREATE DATABASE [CustomerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KHOA\MSSQL\DATA\CustomerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KHOA\MSSQL\DATA\CustomerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerDb]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15-10-2024 6:35:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Name], [Birthday], [Phone], [Email], [Address]) VALUES (1, N'Nguyen Van A', CAST(N'1990-01-01' AS Date), N'0123456789', N'nguyenvana@example.com', N'123 Street A, City A')
INSERT [dbo].[Customer] ([Id], [Name], [Birthday], [Phone], [Email], [Address]) VALUES (2, N'Tran Thi B', CAST(N'1995-02-02' AS Date), N'0987654321', N'tranthib@example.com', N'456 Street B, City B')
INSERT [dbo].[Customer] ([Id], [Name], [Birthday], [Phone], [Email], [Address]) VALUES (3, N'Le Van C', CAST(N'1988-03-03' AS Date), N'0234567890', N'levanc@example.com', N'789 Street C, City C')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
